/* ---------- Result ---------- */

.result {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 33.3333%;
  min-width: 20rem;
  padding: 1.25rem .625rem;

  &__content {
    padding: .875em;
    background: rgba(black, .15);
    border-radius: .3125rem;
    color: #fff;
    text-align: center;
  }

  &__details {
    display: flex;
    justify-content: center;
  }
}

.details {
  &__content {
    padding: .3125rem;
  }

  &__label {
    padding: .3125rem;
    margin-top: .3125rem;
    border: 1px solid rgba(255,255,255,.35);
    border-radius: .2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}